* {
    font-family: 'Roboto', sans-serif;
}

#logo {
    max-width: 100%;
    margin-top: 70px;
}

.full {
    height: 100vh;
    overflow: auto;
}

label {
    color: white;
}

#login-button, #signup-button {
    width: 100%;
}

#email, #password {
    color: white;
}

#select-login {
    color: white;
}