#col-center {
    background-color: white;
}

#portrait {
    background-image: url(../img/bar.jpg);
    background-size: cover;
    background-position: center;
    background-position: center;
    display: block;
    max-width: 100%;
    margin-top: 50px;
    margin-left: 0;
    height: 450px;
    opacity: 0.95;
}


#name-title {
    color: white;
    margin-top: 390px;
    margin-left: 10px;    
}

#profile-info {
    margin-left: 10px;
}

#info-title {
    
}