* {
    font-family: 'Roboto', sans-serif;
}

#logo-navbar {
    max-width: 100px;
}

#pipe {
    color: white;
    margin-top: 5px;
}

.search-navbar {
    margin-left: -100px;
}

#col-left {
    height: 703px;
    background-color: white;
    position: sticky;
    z-index: 0;
    padding-top: 100px;
    padding-left: 30px;
    border-right: 2px solid #343a40;
}

#col-center {
    height: auto;
    background-color: white;
    float: right;
    z-index: 0;
}

#col-right {
    height: 703px;
    background-color: white;
    position: sticky;
    z-index: 0;
    border-left: 2px solid #343a40;
}

.menu-item {
    color: black;
    padding-left: 30px;
}

.bd-toc-item {
    margin-top: 10px;
    width: 100%;
    margin-left: -30px; 
}

.menu-item:hover, .bd-toc-item:hover {
    text-decoration: none;
    color: white;
}

.menu-title {
    color: #343a40;
    opacity: 0.7;
    font-style: italic;
    font-size: 1.5em;
    padding-left: 30px;
}

.navbar {
    border-bottom: 2px solid #343a40;
}

#post-owner {
    color: #343a40;
    opacity: 0.7;
    font-style: italic;
    font-size: 1.5em;   
}

.card {
    margin-top: 10px;
}

#post-title {
    color: #343a40;
    opacity: 0.7;
    font-style: italic;
    font-size: 2.5em;
    padding-left: 30px;
    font-weight: 700;
}

.add-button {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #343a40;
    opacity: 0.9;
  color: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}